body {
    text-align: center;
    font-family: 'Times New Roman', 'Times New Roman', serif;
    background-color: #cee3ed;
}
#container {
    background-color: #bed3dd;
    padding: 10px;
    margin-bottom: 10px;
}

.year {
    font-family: 'Times New Roman', 'Times New Roman', serif;
    background-color:#eef3fd;
    margin: 5px;
    padding: 7px;
    font-size: large;
    transition: padding 500ms;
}
.year:hover {
    padding:12px;
}
.year:active {
    background-color:#dee3ed;
}
#contests > div{
    margin:10px;
}
#contests > a{
    margin:5px;
    /* text-decoration: none; */
    color: #008;
}
#contests > a:visited{
    color: #61a;
}